.soft-gradient {
 -fx-background-color: linear-gradient(to bottom right, #fff8d6, #ffe6b3, #ffd08a);
 }
.box{
-fx-background-color: linear-gradient(to bottom left,
    rgba(255,240,214,0.9),
    rgba(255,208,138,0.7)
);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;

    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-prompt-text-fill: #999999;
}

.label {
    -fx-font-weight: bold;
}

.image-container {
    -fx-background-radius: 15px;
    -fx-background-color: white;
    -fx-padding: 0;
}
